div.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  background: #f2fbfc;
  background-image: url(background_tile.png);
  background-repeat: repeat-y;
}

div.header span {
  position: relative;
  left: 25px;
  top: 30px;
  font-family: sans-serif;
  font-size: 2.1em;
  color: #139EFF;
}