div.menu {
  width: 100%;
  height: 20px;
  padding: 0px;
  background: #99DE00;
  margin-top: 3px;
  overflow: hidden;
}

span.home {
  background: #139EFF;
  border-right: 1px SOLID #fff;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 9pt;
  font-family: sans-serif;
  font-variant: small-caps;
}

span.home a, span.home a:hover {
  color: #fff;
  font-size: 9pt;
  font-family: sans-serif;
  font-variant: small-caps;
  text-decoration: none;
}

span.alt {
  background: #99DE00;
  border-right: 1px SOLID #fff;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 9pt;
  font-family: sans-serif;
  font-variant: small-caps;
}

span.alt a, span.home a:hover {
  color: #fff;
  font-size: 9pt;
  font-family: sans-serif;
  font-variant: small-caps;
  text-decoration: none;
}

span.search {
  background: #99DE00;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 9pt;
  font-family: sans-serif;
  font-variant: small-caps;
  float: right;
  height: auto;
  width: 200px;
  border-left: 1px SOLID #fff;
  overflow: hidden;
}