.form-checkbox-field__wrapper {
  margin-left: 10px;
}

.form-checkbox-field__wrapper svg {
  width: 20px !important;
  height: 20px !important;
}

.form-checkbox-field__wrapper label {
  font-size: 8pt;
  line-height: 23px !important;
  user-select: none;
}

.form-checkbox-field__wrapper div {
  margin: 0 !important;
}
